.food-group-menu {
  width: 700px; 
  height: 805px; 
  flex-shrink: 0; 
  border-radius: 20px; 
  opacity: 0.8; 
  background: #D9D9D9; 

  position: relative;
  z-index: 1;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 0;
  box-sizing: border-box;

  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  padding-top: 60px;
}

.food-group-menu-title {
  color: #48502F; 
  text-align: center; 
  font-feature-settings: 'liga' off, 'clig' off; 
  font-family: 'Newsreader', serif; 
  font-size: 65px; 
  font-style: normal; 
  font-weight: 400; 
  line-height: 100%; 
  letter-spacing: -0.65px; 
  
  width: 572px; 
  height: 65px; 
  flex-shrink: 0; 
  margin-bottom: 40px; 
}


.food-group-list {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 2rem; 
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; 
}

.food-group-item-wrapper {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-top: 0.75rem; 
}

.food-group-bottom-row {
  display: flex;
  gap: 0.75rem; 
  justify-content: center; 
  align-items: center;
  width: auto; 
}

.food-group-item {
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* "Fats" button */
.food-group-item.food-group-item--fats {
  width: 162px;
  padding: 19px 0;
  background: #E56161;
}

/* "Protein" button */
.food-group-item.food-group-item--protein {
  width: 227px;
  padding: 19px 78px 19px 79px;
  background: #E5A140;
}

/* "Dairy" button */
.food-group-item.food-group-item--dairy {
  width: 290px;
  padding: 19px 0;
  background: #669BE4;
}

/* "Grains" button */
.food-group-item.food-group-item--grains {
  width: 363px;
  padding: 19px 0;
  background: #AD711D;
}

/* "Fruits" button */
.food-group-item.food-group-item--fruits {
  width: 227px;
  padding: 19px 0;
  background: #7FB552;
}

/* "Vegetables" button */
.food-group-item.food-group-item--vegetables {
  width: auto; 
  padding: 19px 58px 19px 59px; 
  background: #7FB552;
}

.food-group-name {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 0;
}

.food-group-item:hover,
.food-group-item.is-selected {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
