.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f4f8;
}

.home-cabinet-img {
  display: none; 
}

.home-content {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 350px; 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 4.5rem 3.5rem; 
  justify-content: space-between; 
  box-sizing: border-box; 
}

.home-title {
  font-family: 'Newsreader', serif;
  font-size: 40px; 
  font-weight: 300; 
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0; 
  color: #48502F; 
  text-shadow: none;
}

.home-subtitle {
  font-family: 'Newsreader', serif;
  font-size: 1.4rem; /* Font size for 'HealthiMart' */
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5rem; 
  color: #555; /* Color for 'HealthiMart' */
  text-shadow: none;
  font-weight: 400;
}
